on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: rfay/github-action-setup-ddev@v1
      - uses: mxschmitt/action-tmate@v3
      - run: ddev start || true
